APP_NAME=ISMERS
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://primepowersystem.com

DB_CONNECTION=sqlite
DB_DATABASE=/app/database/database.sqlite
FRONTEND_URL=https://hris1.primepowersystem.com

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file

LOG_CHANNEL=stack
LOG_LEVEL=debug

MAIL_MAILER=log
